


main.table{ /*====== 4 */
    width: 82vw;
    height: 90vh;

    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem;
    
    overflow: hidden;
}
.table_header{ /*============= 5 */
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
}
.table_body{  /*=========== 6 */
    width: 95%;
    max-height: 89%; /*max-height:calc(89% - 1.6rem)*/
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}
.table_body::-webkit-scrollbar{  /* Not supported by all browswers */  /*============ 7 */
    width: 0.5rem;
    height: 0.5rem;
}
.table_body::-webkit-scrollbar-thumb{ /*======== 8  */
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}
.table_body:hover:-webkit-scrollbar-thumb{ /* ============= 9 */
   visibility: visible;
}
table{ /* ============ 10 */
    width: 100%;
}

td img {/*=========  1  */
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td { /*======================= 3 */
    border-collapse: collapse; /* remove borders in table headers*/
    padding: 1rem;
    text-align: left;
}
thead th {  /* ====================== 11 */
    position: sticky; /* Maintain table headers in position*/
    top: 0;
    left: 0; /*Comment out if you don't wnt to keep the horizontal scroll effect on the table headers*/
    background-color: #d5d1defe; /*prevent unorderly overlapping*/
}
 tbody tr:nth-child(even) { /* ================== 12 */
    background-color: #0000000b;
}
tbody tr:hover {  /* ============= 13 */
    background-color: #fff6;
}
.action{ /* ======== 14 */
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}
.action.edit{ /* ============== 15 */
    background-color: #86e49d;
    color: #006b21;
}
.action.delete{ /* ================ 16 */
    background-color: #d893a3;
    color: #b30021;
}

@media (max-width:1000px){ /* ======== 17 */
    td:not(:first-of-type){
        min-width: 12.1rem;
    }
}